@*@model List<MVCProject.ViewModels.LeaveViewModel>
    @using System.Web.Optimization;
    @{
        ViewBag.Title = "Leave requests";
        @Styles.Render("~/Styles/bootstrap")
        @Styles.Render("~/Styles/site")
        @Scripts.Render("~/Scripts/bootstrap")
    }
    <div>
        <table class="table">

                @foreach (var item in Model)
                {<tr>
            <td>
                @item.EmployeeName has requested for leave.
            </td>
            <td>
                
                    <a href="/Leave/Details/@item.LeaveID">View Details</a>
                    
            </td>
            <td>
                @item.LeaveStatus
            </td>
    </tr>
        }

        </table>
    </div>*@
@model List<MVCProject.ViewModels.LeaveViewModel>



<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Leave Status</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th colspan="2">Action</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                <tr>
                    <th scope="row">@item.EmployeeName </th>
                    <td>@item.StartDate.ToString("dd-MMMM-yyyy")</td>
                    <td>@item.EndDate.ToString("dd-MMMM-yyyy")</td>
                    <td>@item.LeaveReason</td>

                    @if (item.LeaveStatus == "Pending")
                    {
    <td><a href="#" class="btn btn-warning">@item.LeaveStatus</a></td>}
                    @if (item.LeaveStatus == "Accepted")
                    {
    <td><a href="#" class="btn btn-success">@item.LeaveStatus</a></td>}
                    @if (item.LeaveStatus == "Rejected")
                    {
    <td><a href="#" class="btn btn-danger">@item.LeaveStatus</a></td>}

                    <td>
                        <form action="/leave/LeaveUpdation" method="post">

                            <input name="LeaveID" value=@item.LeaveID type="text" hidden />
                            <input name="EmployeeID" value=@item.EmployeeID type="text" hidden />
                            <input name="EmployeeName" value=@item.EmployeeName type="text" hidden />
                            
                            <input name="LeaveStatus" value="Accepted" type="text" hidden />
                            <input type="submit" class="btn btn-success" value="Accept" />
                        </form>

                    </td>

                    <td>
                        <form action="/leave/LeaveUpdation" method="post">

                            <input name="LeaveID" value=@item.LeaveID type="text" hidden />
                            <input name="EmployeeID" value=@item.EmployeeID type="text" hidden />
                            <input name="EmployeeName" value=@item.EmployeeName type="text" hidden />
                            <input name="LeaveStatus" value="Rejected" type="text" hidden />
                            <input type="submit" class="btn btn-danger" value="Reject" />
                        </form>

                </tr>}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>